.parent-schedule .button-list{text-align:center}.parent-schedule .button-list .btn{font-size:16px;min-width:228px;padding:23px 5px}.teacher-schedule .button-list .btn{font-size:16px;min-width:310px;padding:23px 5px}.wrapper.download-page{padding:100px 0 25px}.download-page .row>div{display:table}.download-page .row>div>div{display:table-cell;float:none;vertical-align:middle}.download-page .btn{font-size:15px;margin:40px;padding:10px 30px}.container.dashboard>.row>.col-sm-12{padding-left:1em;padding-right:1em}.container>.row>.col-sm-12,.container>footer{width:100%;padding-left:2.5%;padding-right:2.5%;margin:0 auto;float:none}.wizard.vertical>.content{padding:0}.wizard.vertical>.content .form-group{padding:13px 15px 20px;margin:0}.wizard.vertical>.content .form-group label{margin-top:0}.widget-chart span.icon-large{font-size:62px;border-radius:50%;border:2px solid;width:110px;height:110px;display:block;margin:0 auto;text-align:center;line-height:100px;padding:0 !important;color:#FFF}#topnav .topbar-main .logo{padding-left:0.5em !important}#super-admin .navbar-custom{position:fixed;top:0;padding-top:60px;left:0;width:300px;height:100%;z-index:-1;overflow:visible}#super-admin #topnav .navigation-menu>li>a{padding:1.2em 1em 1.2em !important}#super-admin #topnav .navigation-menu>li,#super-admin #topnav .navigation-menu>li>a{width:100%;padding-left:0;padding-right:0}#super-admin #topnav .navigation-menu>li>a i{display:block;font-size:27px;margin-bottom:9px;text-align:center;color:#98a6ad;float:left;margin-right:10px}#super-admin #topnav .has-submenu.active a{color:#5fbeaa;background-color:transparent;box-shadow:none !important}#super-admin #topnav .has-submenu.active a i{color:#5fbeaa !important}#super-admin #topnav .container{width:100%;padding:0}#super-admin .wrapper.super-admin{padding-top:75px;padding-right:0 !important}#super-admin .container.dashboard{padding-right:30px;margin-right:0px;padding-left:130px}#super-admin footer.footer.text-right{padding-left:327px}.login-page .container.dashboard{width:600px !important;background:#FFF;height:auto;padding:1.5em 0;border:1px solid #DDD;border-radius:10px}.login-page .form-group label{width:100%}.login-page .form-group{margin:0 0 1em !important;display:inline-block;width:100%;float:left;padding:0 1em}.login-page .form-group.button{padding:0 !important;margin-bottom:0 !important;margin-top:10px !important}.login-page .form-group.button button{width:100%;padding:0.7em 0.5em;margin-top:0.3em;font-size:22px;font-weight:600;border-radius:0 0 5px 5px}.login-page .footer{position:fixed;bottom:0;left:0;width:100%;background-color:#222;color:#FFF !important}#topnav .login-page .tab-content{margin-bottom:0 !important}#topnav .container{padding-bottom:0 !important}.login-page .tab-content h2,.login-page .tab-content p{text-align:center;color:#FFF !important}.login-page .tab-content{padding:0;display:inline-block;width:100%;float:left}.login-page .header{padding:1em;margin-top:-22px;border-bottom:1px solid #DDD;margin-bottom:20px;background:#26af90;color:#FFF;font-size:15px;border-radius:5px 5px 0 0;float:left;width:100%}.login-page.wrapper{padding-top:50px}.content section>.col-lg-12{padding:1em 0.5em}.content section>.col-lg-12 .row:nth-child(even){background:#f9f9f9}.wizard span.group-span-filestyle.input-group-btn{float:right;width:auto;margin-top:-38px;margin-right:-1px}#topnav .navigation-menu>li .submenu{width:100% !important;left:300px !important;overflow:visible !important;margin-top:-60px !important}

select {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #565656;
  padding: 7px 12px;
  height: 38px;
  max-width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
} 

.wizard .col-lg-12 h4 {
  padding: 0.5em 0.7em !important;
}

#wizard-vertical-p-2 .checkbox.checkbox-pink {
  padding: 10px 13px 10px 33px;
  border: 1px solid #DDD;
  border-radius: 5px;
  height: 41px;
  line-height: 17px;
  display: inline-block;
  background: #f1f1f1;
  margin: -41px 10px;
  float: right;
  position: static;
}

#wizard-vertical-p-2 .checkbox.checkbox-pink:before {
  position: absolute;
  width: 110%;
  height: 1px;
  display: block;
  background: #d2d2d2;
  content: "";
  left: -10px;
  top: 13px;
}

section#wizard-vertical-p-2 .row .col-lg-12:first-child h4 {
  position: relative;
  top: 15px;
  left: 23px;
  padding: 0 !important;
}

.wizard>.content>.body {
  width: 100% !important;
}

#wizard-vertical.wizard.vertical>.content {
  margin-right: 0 !important;
  width: 67.5%;
}

#wizard-vertical.wizard.vertical>.actions {
  width: 90% !important;
  margin: 3em 0;
}

#topnav .topbar-main .dropdown-menu-lg.todo {
  width: 500px;
}

#topnav .todo .card-box {
  padding: 24px;
  margin: 0;
  border: 0;
}

#topnav .todo .card-box li {
  padding: 1px 0px !important;
}

.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {padding: 0 !important;}

.super-admin-home #topnav .navbar-custom {
  width: 300px;
}

.super-admin-home #topnav .navbar-custom .container {
  padding: 0 !important;
  width: 100%;
  overflow: scroll;
}

.super-admin-home #topnav .navbar-custom .navigation-menu {
  width: 100%;
}

.super-admin-home #topnav .navigation-menu>li {
  width: 100%;
}

.super-admin-home #topnav .navigation-menu>li>a {
  font-size: 13px;
  padding-right: 0 !important;
}

.super-admin-home #topnav .navigation-menu>li>a i {
  float: left;
  display: inline-block;
  margin-right: 10px;
}

.super-admin-home #topnav .navigation-menu>li:first-of-type a {
  padding-left: 25px !important;
}

.super-admin-home .wrapper {
  padding-top: 90px;
  padding-left: 320px;
  padding-right: 20px;
}

.super-admin-home #topnav .has-submenu.active a {
  box-shadow: none !important;
  color: #FFF !important;
}